<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body th:align="center">
<h1>회원가입</h1>
<form th:action="insertMember" method="post">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	<tr>
		<td bgcolor="skyblue" th:text="아이디" width="80"></td>
		<td th:align="left"><input type="text" name="id" ></td>
	</tr>
	<tr>
		<td bgcolor="skyblue" th:text="비밀번호" width="50"></td>
		<td th:align="left"><input type="password" name="pwd"></td>
		<td th:align="left"><input type="password" name="re_pwd"></td>
		<td><input type="button" value="비밀번호 확인" onclick="checkPw()"/></td>
	</tr>
	<tr>
		<td bgcolor="skyblue" th:text="이름" width="50"></td>
		<td th:align="left"><input type="text" name="name"></td>
	</tr>
	<tr>
		<td bgcolor="skyblue" th:text="닉네임" width="50"></td>
		<td th:align="left"><input type="text" name="nickname" ></td>
	</tr>
	<tr>
		<td bgcolor="skyblue" th:text="성별" width="50"></td>
		<td th:align="left">
			<label><input type="radio" name="gender" value="F" checked>여성</label>	
			<label><input type="radio" name="gender" value="M">남성</label>	
		</td>
	</tr>	
	<tr>
		<td bgcolor="skyblue" th:text="이메일" width="50"></td>
		<td th:align="left">
			<input type="email" name="email">
		</td>
	</tr>
	<tr>
		<td bgcolor="skyblue" th:text="전화번호" width="50"></td>
		<td th:align="left"><input type="text" name="phone" ></td>
	</tr>
	<tr>
		<td bgcolor="skyblue" th:text="주소" width="50"></td>
		<td th:align="left"><input type="text" name="address_name" id="address_kakao"></td>
		<td><input type="text" name="address" id="address_detail"></td>
	</tr>
</table>
	<input type="submit" value="회원가입" id="checkPw()"/>
	<input type="button" value="뒤로가기" onclick="location.href='login'"/>
</form>
<p style="margin-top:-12px">
    <em class="link">
        <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
            혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
        </a>
    </em>
</p>
<div id="map" style="width:100%;height:350px;"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	906fc42246ea0e1537f08bb8737c9b9b&libraries=services"></script>
<script>
window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            }
        }).open();
    });
}

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
};  

//지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

//주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

var address = document.getElementById('address_name').value();
//주소로 좌표를 검색합니다
geocoder.addressSearch(address, function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === kakao.maps.services.Status.OK) {

    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });

    // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
    });
    infowindow.open(map, marker);

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    map.setCenter(coords);
} 
});    

function checkPw(){

    let id = $("#id").val();
    let pw = $("#pwd").val();
    let number = pw.search(/[0-9]/g);
    let english = pw.search(/[a-z]/ig);
    let spece = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
    let reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

    if (pw.length < 8 || pw.length > 20) {
        alert("8자리 ~ 20자리 이내로 입력해주세요.");
        return false;

    } else if (pw.search(/\s/) != -1) {
        alert("비밀번호는 공백 없이 입력해주세요.");
        return false;

    } else if (number < 0 || english < 0 || spece < 0) {
        alert("영문,숫자,특수문자를 혼합하여 입력해주세요.");
        return false;

    if (false === reg.test(pw)) {
        alert('비밀번호는 8자 이상이어야 하며, 숫자/대문자/소문자/특수문자를 모두 포함해야 합니다.');
        return false;
    } else {
        alert("비밀번호가 정상적으로 입력되었습니다.");
        return true;
    }
}
}
</script>
</body>
</html>